# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# Unix
alias ln="ln -v"
alias mkdir="mkdir -p"

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'

# PHP
alias phpu='vendor/bin/phpunit'
alias part='php artisan'

# httpie
alias https='http --default-scheme=https'
alias python=python3

# Docker compose
alias dceu='docker-compose exec --user=${UID}'
alias dce='docker-compose exec'
alias dcl='docker-compose logs -f'
alias dcdu='docker-compose down && docker-compose up -d'
alias dcu='docker-compose up -d'


