snippet func "function"
${1:public} function $2($3) {
    $0
}
endsnippet

snippet hook "Drupal Hook"
/**
 * Implements hook_$2().
 */
function ${1:hook}_${2:hook}($3) {
  $0
}
endsnippet

snippet dd "Die and Dump"
die(var_dump($0));
endsnippet

snippet pdd "Pretty die and Dump"
echo "<pre>"; var_dump($0); echo "</pre>"; die();
endsnippet

snippet dp "Die and Print"
die(print_r($0));
endsnippet
